// VARIABLES
$size: 15vw;
$max-size: 6rem;
$gun: #383940;
$darken: 10%;
$socials: (
  app store:   $gun,
  behance:     #1769ff,
  codepen:     $gun,
  dribbble:    #ea4c89,
  facebook:    #3b5998,
  github:      $gun,
  google play: $gun,
  google plus: #dd4b39,
  instagram:   #3f729b,
  linkedin:    #007bb6,
  medium:      $gun,
  pinterest:   #bd081c,
  reddit:      #cee3f8,
  rss:         #D95B29,
  snapchat:    #f7ec1e,
  soundcloud:  #ff6000,
  spotify:     #2ebd59,
  tumblr:      #36465D,
  twitter:     #55acee,
  vine:        #00B289,
  whatsapp:    #25D366,
  youtube:     #cd201f
);
$badges: (
  app store:   2700,
  google play: 2700
);

// ICONS
.social {
  a {
    margin    : $max-size*.1;
    transition: 0.5s ease;
    height    : $size;
    width     : $size;
    max-width : $max-size;
    max-height: $max-size;
    display   : inline-block;
    &:hover {
      cursor       : pointer;
    }
    svg {
      height: 100%;
      width : 100%;
      fill  : white;
    }
  }
  .badges a {
    border-radius: 1rem;
  }
}
.round {
  border-radius: 50%;
}
.rounded {
  border-radius: 20%;
}


// ICON COLORS
@each $social, $color in $socials {
  [aria-label="#{$social}"] {
    background: $color;
    &:focus,
    &:hover {
      background: darken($color,$darken);
    }
    @if $social == 'snapchat' {
      svg {
        stroke-width: 13;
        stroke      : darken($gun,8%);
      }
    }
    @elseif $social == 'reddit' {
      svg {
        stroke-width: 18;
        stroke      : $gun;
        &.alt {
          stroke-width: 21;
        }
        &:focus,
        &:hover {
          svg {
            stroke: darken($gun,$darken);
          }
        }
        .reddit-eyes {
          fill        : #f04a22;
          stroke-width: 0;
        }
        .reddit-line {
          stroke-linecap : round;
          fill           : none;
          stroke-linejoin: round;
        }
      }
    }
  }
}

// NO BG
.no-bg {
  .social {
    a {
      background-color: transparent !important;
      margin          : 0;
    }
    @each $social, $color in $socials {
      [aria-label="#{$social}"] {
        @if $social == 'snapchat' {
          svg {
            fill  : $gun;
            stroke: $gun;
          }
          &:focus,
          &:hover {
            svg {
              fill  : darken($gun,$darken);
              stroke: darken($gun,$darken);
            }
          }
        }
        @elseif $social == 'reddit' {
          svg {
            fill: white !important;
          }
        }
        @else {
          svg {
            fill: $color;
          }
          &:focus,
          &:hover {
            svg {
              fill: darken($color,$darken);
            }
          }
        }
      }
    }
  }
}

// BADGES
.social {
  @each $badge, $width in $badges {
    [aria-label="#{$badge}"] {
      width: $size * $width / 800;
      max-width : $max-size * $width / 800;
    }
  }
}
// LAYOUT
body {
  padding   : $size*.2;
  text-align: center;
  font-size : 0;
  margin    : 0 auto;
  max-width : 80rem;
}

// TEXT
p {
  color      : $gun;
  font-size  : 1rem;
  margin     : 1rem 0;
  line-height: 1.6rem;
  font-family: Roboto Mono;
  font-weight: 300;
  a {
    text-decoration: none;
    color          : map-get($socials, twitter);
  }
}
