// VARIABLES
$size: 15vw;
$max-size: 6rem;
$gun: #383940;
$darken: 10%;
$socials: (
  twitter:     #55acee,
  facebook:    #3b5998,
  google plus: #dd4b39,
  linkedin:    #007bb6,
  github:      $gun,
  dribbble:    #ea4c89,
  behance:     #1769ff,
  codepen:     $gun,
  instagram:   #3f729b,
  pinterest:   #bd081c,
  medium:      $gun,
  vine:        #00B289,
  tumblr:      #36465D,
  youtube:     #cd201f,
  soundcloud:  #ff6000,
  snapchat:    #f7ec1e,
  reddit:      #cee3f8
);

// ICONS
.social {
  margin    : $max-size*.1;
  transition: 0.5s ease;
  height    : $size;
  width     : $size;
  max-width : $max-size;
  max-height: $max-size;
  display   : inline-block;
  &:hover {
    cursor       : pointer;
    border-radius: 0;
  }
  svg {
    height: 100%;
    width : 100%;
    fill  : white;
  }
}
.round {
  border-radius: 50%;
}
.rounded {
  border-radius: 20%;
}


// ICON COLORS
@each $social, $color in $socials {
  [aria-label="#{$social}"] {
    background: $color;
    &:focus,
    &:hover {
      background: darken($color,$darken);
    }
  }
}

// NO BG
.no-bg {
  .social {
    background-color: transparent !important;
    margin          : 0;
  }
  @each $social, $color in $socials {
    [aria-label="#{$social}"] {
      svg {
        fill: $color;
      }
      &:focus,
      &:hover {
        svg {
          fill: darken($color,$darken);
        }
      }
    }
  }
}

// snapchat
[aria-label="snapchat"] {
  svg {
    stroke-width:12;
    stroke:#000;
  }
}

[aria-label="reddit"] {
  svg {
    stroke-width:18;
    stroke:#000;
    .reddit-eyes {
      fill: #f04a22;
      stroke-width:0;
    }
    .reddit-line {
      stroke-linecap:round;
      fill: none;
    }
  }
}


// LAYOUT
body {
  padding   : $size*.1;
  text-align: center;
  font-size : 0;
  margin    : 0 auto;
  max-width : 80rem;
}

// TEXT
p {
  color      : $gun;
  font-size  : 1rem;
  margin     : 1rem 0;
  line-height: 1.6rem;
  font-family: Roboto Mono;
  font-weight: 300;
  a {
    text-decoration: none;
    color          : map-get($socials, twitter);
  }
}
