// VARIABLES
$size: 15vw;
$max-size: 6rem;
$gun: #383940;
$darken: 10%;
$socials: (
  behance:     #1769ff,
  codepen:     $gun,
  dribbble:    #ea4c89,
  facebook:    #3b5998,
  github:      $gun,
  google plus: #dd4b39,
  instagram:   #3f729b,
  linkedin:    #007bb6,
  medium:      $gun,
  pinterest:   #bd081c,
  reddit:      #cee3f8,
  snapchat:    #f7ec1e,
  soundcloud:  #ff6000,
  tumblr:      #36465D,
  twitter:     #55acee,
  vine:        #00B289,
  whatsapp:    #25D366,
  youtube:     #cd201f
);

// ICONS
.social {
  margin    : $max-size*.1;
  transition: 0.5s ease;
  height    : $size;
  width     : $size;
  max-width : $max-size;
  max-height: $max-size;
  display   : inline-block;
  &:hover {
    cursor       : pointer;
    border-radius: 0;
  }
  svg {
    height: 100%;
    width : 100%;
    fill  : white;
  }
}
.round {
  border-radius: 50%;
}
.rounded {
  border-radius: 20%;
}

// ICON COLORS
@each $social, $color in $socials {
  [aria-label="#{$social}"] {
    background: $color;
    &:focus,
    &:hover {
      background: darken($color,$darken);
    }
    @if $social == 'snapchat' {
      svg {
        stroke-width: 13;
        stroke      : darken($gun,8%);
      }
    }
    @elseif $social == 'reddit' {
      svg {
        stroke-width: 18;
        stroke      : $gun;
        &.alt {
          stroke-width: 21;
        }
        &:focus,
        &:hover {
          svg {
            stroke: darken($gun,$darken);
          }
        }
        .reddit-eyes {
          fill        : #f04a22;
          stroke-width: 0;
        }
        .reddit-line {
          stroke-linecap : round;
          fill           : none;
          stroke-linejoin: round;
        }
      }
    }
  }
}

// NO BG
.no-bg {
  .social {
    background-color: transparent !important;
    margin          : 0;
  }
  @each $social, $color in $socials {
    [aria-label="#{$social}"] {
      @if $social == 'snapchat' {
        svg {
          fill  : $gun;
          stroke: $gun;
        }
        &:focus,
        &:hover {
          svg {
            fill  : darken($gun,$darken);
            stroke: darken($gun,$darken);
          }
        }
      }
      @elseif $social == 'reddit' {
        svg {
          fill: white !important;
        }
      }
      @else {
        svg {
          fill: $color;
        }
        &:focus,
        &:hover {
          svg {
            fill: darken($color,$darken);
          }
        }
      }
    }
  }
}

// LAYOUT
body {
  padding   : $size*.1;
  text-align: center;
  font-size : 0;
  margin    : 0 auto;
  max-width : 80rem;
}

// TEXT
p {
  color      : $gun;
  font-size  : 1rem;
  margin     : 1rem 0;
  line-height: 1.6rem;
  font-family: Roboto Mono;
  font-weight: 300;
  a {
    text-decoration: none;
    color          : map-get($socials, twitter);
  }
}
